.home-carousal-div {
    width: 100%
}

.carousel-logo {
    background-color: rgba(0, 0, 0, 0.452);
    width: 50%;
    height: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .carousel-img {
        height: 200px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .carousel-img {
        height: 300px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .carousel-img {
        height: 350px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .carousel-img {
        height: 400px;
    }
    .carousel-logo {
        padding: 5px 100px 10px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .carousel-img {
        height: 500px;
    }
    .carousel-logo {
        padding: 5px 100px 10px;
    }
}